<div class="header">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-5 border-right">
      <div class="header-logo vcenter"></div>
      <p>Percona Monitoring and Managment</p>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-7 col-xs-7">
      <p>Installation <i class="fa fa-long-arrow-right"></i> Ova</p>
    </div>
  </div>
</div>
<div class="container main">
  <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
      <p class="text-center">Welcome to the installation wizard for PMM. Please provide us with some require
        information</p>
        <section>
          <ul class="nav nav-tabs">
            <li class="nav-item" routerLinkActive="active"><a [routerLink]="['account-credentials-ova']">Account
              Credentials</a></li>
          </ul>
          <div class="tab-content">
              <router-outlet></router-outlet>
          </div>
        </section>
    </div>
  </div>
</div>
