.input-caption {
  padding-left: 0;
  color: white;
}

.font-italic {
  font-style: italic;
}

.flex-container {
  display: flex;
  align-items: center;
}

.input-wrapper > div {
  margin-bottom: 15px;
}

input.custom-form-input {
  height: 38px;
  color: white;
  font-weight: 300;
  border-radius: 0;
  border: 1px solid #2a2a2a;
  background-color: #292929;
}

input.custom-form-input::placeholder {
  font-weight: 100;
  color: white;
  font-size: 12px;
}

.error-text {
  font-weight: 300;
  color: white;
}

.tab-pane p {
  color: white;
  font-weight: 300;
  margin-bottom: 25px;
}

.input-wrapper .row-ssh {
  margin-top: 40px;
  margin-bottom: 40px;
}

.button-row button {
  height: 40px;
  font-weight: 300;
  outline: none;
  color: white;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
}

.button-row button:hover {
  background-color: #292929;
  border: none;
  border-radius: 0;
}

@media screen and (max-width: 992px) {
  .flex-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .input-caption {
    padding-left: 15px;
  }

  .input-caption span {
    display: block;
    margin-bottom: 10px;
  }
}

