.idea/
.DS_Store
.cache
packer_cache/
pmm2-virtualbox-ovf/

installation-wizard/node_modules
rhel/BUILD
rhel/BUILDROOT
rhel/RPMS
rhel/SRPMS
rhel/SOURCES/*
!rhel/SOURCES/*-node_modules-*
!rhel/SOURCES/*.service
!rhel/SOURCES/*.patch
!rhel/SOURCES/*.ico

*.ova

manifest.json
