[mysqld]

# Default MySQL Settings
 innodb_buffer_pool_size=128M
#innodb_log_file_size=5M          # Use 50M when using 5.6 or newer as that's the new default
 innodb_flush_log_at_trx_commit=2
 innodb_file_per_table=1          # not default until 5.6, we should have this enabled
 innodb_flush_method=O_DIRECT

# Disable Query Cache by default
  query_cache_size=0
  query_cache_type=0
