[Unit]
Description=Prometheus Node Exporter Service
After=network.target

[Service]
User=nobody
Type=simple
Environment=WEB_LISTEN_ADDRESS=":9100"
Environment=COLLECTORS_ENABLED="conntrack,diskstats,entropy,filefd,filesystem,hwmon,loadavg,mdadm,meminfo,netdev,netstat,sockstat,stat,textfile,time,uname,vmstat"
EnvironmentFile=-/etc/sysconfig/node_exporter
ExecStart=/usr/local/percona/pmm-client/node_exporter -web.listen-address $WEB_LISTEN_ADDRESS -collectors.enabled $COLLECTORS_ENABLED
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
