<div class="tab-pane">
  <div class="row">
    <p class="text-center col-8 offset-2">Create your
      username and password to access your PMM</p>
  </div>
  <form>
    <div class="row">
      <div
        class="col-10 offset-xl-2 offset-1 input-wrapper">
        <div class="row">
          <div class="col-xl-9 col-12 text-right">
            <input type="text" class="custom-form-input form-control ng-untouched ng-pristine ng-valid"
                   placeholder="Username"
                   name="usernameOvf"
                   [(ngModel)]="ovfUserData.username"
                   #user="ngModel"
                   required>
          </div>
        </div>
        <div class="row">
          <div *ngIf="user?.errors && (user?.dirty || user?.touched)"
               class="col-xl-9 col-12 error-text">
            <div *ngIf="user?.errors?.required">*Field is required</div>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-9 col-12 text-right">
            <input type="password" class="custom-form-input form-control ng-untouched ng-pristine ng-valid"
                   placeholder="Password"
                   name="passwordOvf"
                   [(ngModel)]="ovfUserData.password"
                   #pass="ngModel"
                   maxlength="255"
                   required
                   (input)="onPasswordChange()">
          </div>
        </div>
        <div class="row">
          <div *ngIf="pass?.errors && (pass?.dirty || pass?.touched)"
               class="col-xl-9 col-12 error-text">
            <div *ngIf="pass?.errors?.required">*Field is required</div>
            <div *ngIf="pass?.errors?.maxlength">*Field can not me more than 255 characters</div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-9 col-12 text-right">
            <input type="password" class="custom-form-input form-control ng-untouched ng-pristine ng-valid"
                   placeholder="Repeat Password"
                   name="repeatPasswordOvf"
                   [(ngModel)]="repeatPassword"
                   #repeatpass="ngModel"
                   required
                   (input)="onPasswordChange()">
          </div>
        </div>
        <div class="row">
          <div *ngIf="repeatpass?.errors && (repeatpass?.dirty || repeatpass?.touched)"
               class="col-xl-9 col-12 error-text">
            <div *ngIf="repeatpass?.errors?.required">*Field is required</div>
          </div>
          <div *ngIf="!isIdentical && repeatpass?.dirty" class="col-lg-9 col-md-9 col-sm-12 error-text">*Passwords must be identical</div>
        </div>
        <div class="row flex-container row-ssh">
          <div class="col-xl-9 col-12 text-right">
            <input type="text" class="custom-form-input form-control ng-untouched ng-pristine ng-valid"
                   placeholder="SSH Key"
                   name="ssh"
                   [(ngModel)]="ssh">
          </div>
          <div class="col-xl-3 col-12 input-caption font-italic">
            <span>*optional</span>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-9 col-12 text-right button-row">
            <button type="reset" class="btn btn-primary">Reset</button>
            <button class="btn btn-primary" (click)="submit()"
                    [disabled]="!user?.valid || !pass?.valid || !repeatpass?.valid">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
