body {
  background-color: #141414;
}

.input-wrapper > div {
  margin-bottom: 15px;
}

.tab-pane p {
  color: white;
  font-weight: 300;
  margin-bottom: 25px;
}

input.custom-form-input {
  height: 38px;
  color: white;
  font-weight: 300;
  border-radius: 0;
  border: 1px solid #2a2a2a;
  background-color: #292929;
}

input.custom-form-input::placeholder {
  font-weight: 100;
  color: white;
  font-size: 12px;
}

.error-text {
  font-weight: 300;
  color: white;
}

.button-row button {
  height: 40px;
  font-weight: 300;
  outline: none;
  color: white;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
}

.button-row button:hover {
  background-color: #292929;
  border: none;
  border-radius: 0;
}

.button-row button:active,
.button-row button:focus {
  box-shadow: none;
}


@media screen and (max-width: 767px) {
  .main .tab-content {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 350px) {
  .main .nav-tabs > li > a {
    padding: 0 0 3px 0;
  }

  .main .nav-tabs > li > i {
    padding: 3px 10px 0;
  }
}
