body {background: #fff;}

header {background: url(../img/bg-page-top-inside.jpg) 0 0 no-repeat; background-size: cover;
        width: 100%; height: 52px;}

nav {background: #fff; border-bottom: 1px solid #f2f2f2; border-top:2px solid #da762a; height: 50px; margin-bottom:10px;}

nav .container .plogo {height:45px;}

h2 {font-family: 'Open Sans', sans-serif !important; font-size:50px!important; font-weight: 400; line-height: 80px !important; color:#fff !important; display: inline;}

h2 span {font-weight: 800;}

.product-logo {display:inline !important; margin-top:-20px;}

.product-block {margin-top:20px; background:#f2f2f2; padding-top: 30px; padding-bottom:30px;}

.btn-prop {margin-top:30px; margin-bottom: 20px !important;}

/*.hs-form.stacked label {float:left !important;}*/

.hs-form .hs-richtext { text-align:left; }

.hs-form.stacked .field {margin-top:10px;}

.hs_email input {max-width:none !important; width:100% !important; }

.hs_lastname input {max-width:none !important; width:100% !important; }

.hs_firstname input {max-width:none !important; width:100% !important; }

.inputs-list { margin:0px !important;}

.hs_solutions_interest label { float:none !important; }

/*.hs_solutions_interest label span { f !important; }*/

.hs_solutions_interest .inputs-list { float:left !important; }

.hs_solutions_interest .inputs-list li { display:inline !important; }

.hs_solutions_interest .inputs-list label { margin-right:10px; float:left; }


@media(max-width:767px){
    
    
                            h2 {font-size:14px!important;} 


                        }
@media(min-width:768px){
    
    
                            h2 {font-size:24px!important;} 


                        }
@media(min-width:992px){
    
    
                            h2 {font-size:30px!important;} 


                        }
@media(min-width:1200px){
    
    
                            h2 {font-size:40px!important;} 


                        }