.input-wrapper > div {
  margin-bottom: 15px;
}

.tab-pane p {
  margin-bottom: 25px;
  color: var(--white);
  font-weight: 300;
}

input.custom-form-input {
  height: 38px;
  color: var(--white);
  font-weight: 300;
  border-radius: 0;
  border: 1px solid #2a2a2a;
  background-color: #292929;
}

input.custom-form-input::placeholder {
  font-weight: 100;
  color: var(--white);
  font-size: 12px;
}

.error-text {
  color: var(--white);
  font-weight: 300;
}

.button-row button {
  height: 40px;
  font-weight: 300;
  outline: none;
  color: var(--white);
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
}

.button-row button:hover {
  background-color: #292929;
  border: none;
  border-radius: 0;
}

.button-row button:active,
.button-row button:focus {
  box-shadow: none;
}