<div class="tab-pane">
  <div class="row justify-content-center">
    <p>Create your username and password to access your PMM</p>
  </div>
  <form>
    <div class="row">
      <div class="col-xl-8 col-10 offset-xl-2 offset-1 input-wrapper">
        <div class="row">
          <div class="col-12 text-right">
            <input type="text" class="custom-form-input form-control" placeholder="Username"
                   name="username"
                   [(ngModel)]="amiUserData.username"
                   #user="ngModel"
                   required>
          </div>
        </div>
        <div class="row">
          <div *ngIf="user?.errors && (user?.dirty || user?.touched)"
               class="col-xl-9 col-12 error-text">
            <div *ngIf="user?.errors?.required">*Field is required</div>
          </div>
            <div *ngIf="errorMessage" class="error-text col-xl-9 col-xs-12">*{{ errorMessage }}</div>
        </div>
        <div class="row">
          <div class="col-12 text-right">
            <input type="password" class="custom-form-input form-control" placeholder="Password"
                   name="password"
                   [(ngModel)]="amiUserData.password"
                   #pass="ngModel"
                   maxlength="255"
                   required
                   (input)="onPasswordChange()">
          </div>
        </div>
        <div class="row">
          <div *ngIf="pass?.errors && (pass?.dirty || pass?.touched)"
               class="col-xl-9 col-12 error-text">
            <div *ngIf="pass?.errors?.required">*Field is required</div>
            <div *ngIf="pass?.errors?.maxlength">*Field can not me more than 255 characters</div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-right">
            <input type="password" class="custom-form-input form-control" placeholder="Repeat Password"
                   name="repeatPassword"
                   [(ngModel)]="repeatPassword"
                   #repeatpass="ngModel"
                   required
                   (input)="onPasswordChange()">
          </div>
        </div>
        <div class="row error-text">
          <div *ngIf="repeatpass?.errors && (repeatpass?.dirty || repeatpass?.touched)"
               class="col-xl-9 col-12">
            <div *ngIf="repeatpass?.errors?.required">*Field is required</div>
          </div>
          <div *ngIf="!isIdentical && repeatpass?.dirty" class="col-xl-9 col-12">*Passwords must be identical</div>
        </div>
        <div class="row">
          <div class="col-12 text-right button-row">
            <button class="btn btn-primary" type="reset">Reset</button>
            <button class="btn btn-primary"
                    (click)="submit()" [disabled]="!user?.valid || !pass?.valid || !repeatpass?.valid">Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
