<div class="page-wrapper">
    <div class="header">
        <div class="row">
            <div class="col-md-4 col-xs-5 border-right">
                <div class="header-logo"></div>
                <p>Percona Monitoring and Management</p>
            </div>
            <div class="col-md-8 col-xs-7">
                <p>Installation <i class="fa fa-long-arrow-right"></i> Docker</p>
            </div>
        </div>
    </div>
    <p class="text-center">
        Please use pmm-server options for docker <a href="https://www.percona.com/doc/percona-monitoring-and-management/glossary.option.html#pmm-glossary-pmm-server-additional-option" target="_blank">read more here</a>
    </p>
</div>
