<div class="container-fluid header">
    <div class="row">
        <div class="col-xl-4 col-5 border-right">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2">
                        <img src="../.././assets/pmm-logo.png" class="header-logo" alt="pmm-logo">
                    </div>
                    <div class="col-10">Percona Monitoring and Management</div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-7">
            <p>Installation docker</p>
        </div>
    </div>
</div>
<p class="text-center">
    Please use pmm-server options for docker <a
        href="https://www.percona.com/doc/percona-monitoring-and-management/glossary.option.html#pmm-glossary-pmm-server-additional-option"
        target="_blank">read more here</a>
</p>

