.header {
  height: 50px;
  margin-bottom: 90px;
  color: #cccccc;
  background-color: #292929;
}

.header div {
  height: inherit;
}

.header .row > div {
  display: flex;
  align-items: center;
}

.header p {
  margin-bottom: 0;
}

.header .border-right {
  border-right: 1px solid #141414;
}

.header .header-logo {
  float: left;

  width: 35px;
  height: 35px;
  margin: 0 10px;

  background: url("../../assets/pmm-logo.png") no-repeat;
  background-size: cover;
}
.page-wrapper p {
  color: #ffffff;
}

.page-wrapper > p {
  font-size: 16px;
}
