<div class="header">
    <div class="row">
        <div class="col-xl-4 col-5 border-right">
            <div class="header-logo"></div>
            <p>Percona Monitoring and Management</p>
        </div>
        <div class="col-xl-8 col-7">
            <p>Installation</p>
        </div>
    </div>
</div>
<p class="text-center">
    Congratulation! Your PMM in configured.
    Please click <span class="home-link" (click)="goTo()">here</span> or wait 5 sec to be redirected to the Index
    page
</p>
<p class="text-center">
    <i class="fa fa-spinner"></i>
</p>

